@font-face {
  font-family: "VGTreeside";
  font-weight: 400;
  src: url("../../assets/fonts/VGTreeside.otf");
}

@font-face {
  font-family: "VGRosalia";
  font-weight: 400;
  src: url("../../assets/fonts/VGRosalia.otf");
}
