@use "./fonts";

// breakpoints
@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  margin: 240px auto 150px auto;
  background-color: #f0f5ff;
  max-width: 1200px;
  position: relative;

  @include mobile {
    max-width: 100vw;
    margin: 150px auto;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline #2d3748;
  }
}
