@use "../styles/partials/global";

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  @include global.mobile {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  &--reverse {
    flex-direction: row-reverse;

    @include global.mobile {
      flex-direction: column;
    }
  }

  div {
    position: relative;
  }

  &__title {
    font-family: "VGRosalia";
    font-size: 2.5rem;
    color: #2d3748;
  }

  &__image {
    width: 50%;
    border-radius: 2rem;
    margin: 0 2rem;
    position: relative;

    @include global.mobile {
      width: 90%;
      margin: 0;
    }
  }

  &__description {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #334155;
  }
}
